{% extends "blog/base.html" %} {% block content %}
<div class="container mt-5">
  <h3 class="mb-3">What is this?</h3>
  <p>
    Unofficial SpaceX Open Source REST API for rocket, core, capsule, pad, and
    launch data.
  </p>

  <h3 class="mt-4">Who are you?</h3>
  <p>
    I am
    <a href="https://www.linkedin.com/in/ramfattah/" target="_blank"
      >Ram Fattah</a
    >. A guy who likes to write code.
  </p>

  <h3 class="mt-4">Why did you build this?</h3>
  <p>
    I like technology and cosmology.
    
  </p>

  <h3 class="mt-4">Technical stuff?</h3>
  <p>
    I am using Django 3.0 Framework to display the front-end.     
  </p>
  <p><strong>Base URL</strong></p>
  <p>The most current version of the API is v3, with the following base URL
  <strong>https://api.spacexdata.com/v3</strong> </p>

  <h3 class="mt-4">Can I contribute to the project?</h3>
  <p>
    Of course, the API is provided by SpaceX and you can contribute to this project on <a
    href="https://github.com/ramfattah/SpaceX" target="_blank" >GitHub</a>.
    
  </p>
  
  <h3 class="mt-4">Copyright</h3>
  <p>
    The data and images are used without claim of ownership and belong to their respective owners.
    <br>
    All the data has been collected from <a
    href="https://docs.spacexdata.com/?version=latest"
    target="_blank">https://docs.spacexdata.com/?version=latest</a>
  </p>
</div>








{% endblock content %}
