{% extends "blog/base.html" %} {% block caps %} {% load humanize %}

<section class="p5 mt-5 container shadow rounded">
  <a class="text-white">Cores</a>
</section>

<div class="contianer mt-5">
  <div class="blog-post container">
    {% for c in core %}
    <div class="card-match">
    <h2 class="blog-post-title"> {{c.core_serial}}</h2>
    <p class="">Mission Name <span class="badge badge-primary badge-pill">{{c.missions.0.name}}</span></p>
  
    <p>{{c.details}}
    </p>
  
    <hr />
  </div>
    {% endfor %}
  
  </div>
</div>
{% endblock caps %}
