{% extends "blog/base.html" %} {% block caps %} {% load humanize %}

<section
  class="p5 mt-5 shadow rounded container"
  style=" background-image: url(https://img3.goodfon.com/wallpaper/nbig/1/39/spacex-elon-musk-spacesuit.jpg);"
>
  <a class="text-white">History</a>
</section>

<div class="contianer mt-5">
  <div class="blog-post container">
    {% for c in his reversed %}
    <div class="card-match">
    <h2 class="blog-post-title">{{c.title}}</h2>
    <p class="blog-post-meta">Event Date {{c.event_date_utc}}</p>
  
    <p>{{c.details}}
    </p>
  
    <hr />
  </div>
    {% endfor %}
  
  </div>
</div>

{% endblock caps %}
