{% extends "blog/base.html" %} {% block content %} {% load humanize %}



<section
  class="p5 mt-5 shadow rounded container"
  style=" background-image: url(https://live.staticflickr.com/65535/48954138922_8bd7c544b4_6k.jpg);"
></section>

<div class="row">
  <div class="col-md-8 blog-main">
    <h4 class="pb-3 mb-4">
      Company Valuation
      <span class="font-italic">${{info.valuation|intcomma}}</span>
    </h4>

    


    <!-- twitter feed of spaceX -->
    <a
      class="twitter-timeline"
      href="https://twitter.com/SpaceX?ref_src=twsrc%5Etfw"
      >Tweets by SpaceX</a
    >
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
    
  

  </div>
  <!-- /.blog-main -->

  <aside class="col-md-4 blog-sidebar">

    <div class="blog-post">
      <h2 class="blog-post-title">About</h2>
      <p class="blog-post-meta"></p>

      <p>
        {{info.summary}}
      </p>
      <p class="font-italic"><strong>Founder:</strong> Elon Musk</p>
      <hr />
    </div>

    
    <div class="blog-post">
      <h2 class="blog-post-title">In-Flight Dragon Escape System (Abort Test) </h2>
      
      <p>
        SpaceX's In Flight Abort Test was a long awaited demonstration of the
        launch escape system which would carry crew to safety in the event of a
        failure. Video by <a
        href="https://www.youtube.com/channel/UCxzC4EngIsMrPmbm6Nxvb-A">Scott
        Manly</a>.
      </p>
      <iframe width="260" src="https://www.youtube.com/embed/R-HOQrinzlY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
    </div>

    <div class="blog-post">
      <h2 class="blog-post-title">Missions To Mars</h2>
      <p class="blog-post-meta"></p>
      
      <p>
        "Our aspirational goal is to send our first cargo mission to Mars in
        2022. The objectives for the first mission will be to confirm water
        resources, identify hazards, and put in place initial power, mining, and
        life support infrastructure. A second mission, with both cargo and crew,
        is targeted for 2024, with primary objectives of building a propellant
        depot and preparing for future crew flights. The ships from these
        initial missions will also serve as the beginnings of the first Mars
        base, from which we can build a thriving city and eventually a
        self-sustaining civilization on Mars." - SpaceX
      </p>
    </div>


    
    <div class="blog-post">
      <h2 class="blog-post-title">Making Life Multi-Planetary</h2>

      <p>
        SpaceX CEO Elon Musk discusses the importance of making life
        multi-planetary. Filmed at The National Press Club.
      </p>
      <iframe
        class="responsive-iframe"
        width="260"
        src="https://www.youtube.com/embed/7SECSxUbXTA"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>

    </div>


  </aside>
</div>
<!-- /.row -->

{% endblock content %}
